@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--dmFont);
}

:root {
  --dmFont: 'DM Sans', sans-serif;

  /* Primary */

  --Softred: hsl(10, 79%, 65%);
  --Cyan: hsl(186, 34%, 60%);

  /* Neutral */

  --Darkbrown: hsl(25, 47%, 15%);
  --Mediumbrown: hsl(28, 10%, 53%);
  --Cream: hsl(27, 66%, 92%);
  --Verypaleorange: hsl(33, 100%, 98%);
}

body {
  width: 100%;
  height: 100%;
}

main {
  width: 100vw;
  height: 100vh;
  background-color: var(--Cream);
  display: flex;
  justify-content: center;
  align-items: center;
}

main section {
  width: 90vw;
}
